<form (submit)="onSubmit()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput >
        <mat-error>The field Name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input formControlName="dateOfBirth" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <app-input-img [urlCurrentImage]="model?.photo" (selectedFile)="selectedFile($event)"></app-input-img>

    <app-input-markdown (changeMarkdown)="changeMarkdown($event)"></app-input-markdown>

    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Guardar Cambios
        </button>
        <a mat-stroked-button routerLink="/actors">
            Cancelar
        </a>
    </div>
</form>
