<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon>local_movies</mat-icon> Angular Movies
        </a>
    </span>

    <div>
        <a mat-button routerLink="movies/search">
            <mat-icon>search</mat-icon>Search Movie </a>
    </div>
    
    <app-authorized [rol]="'admin'">
        <ng-container Authorized>
            <div>
                <a mat-button routerLink="genres">Genres</a>
            </div>
        
            <div>
                <a mat-button routerLink="actors">Actors</a>
            </div>
        
            <div>
                <a mat-button routerLink="theaters">Theaters</a>
            </div>
        
            <div>
                <a mat-button routerLink="movies/create">Create Movie</a>
            </div>
        </ng-container>
    </app-authorized>

    <div class="space"></div>

    <app-authorized>
        <ng-container Authorized>
            <span>Hi, </span>
            <a mat-button>Logout</a>
        </ng-container>
        <ng-container NoAuthorized>
            <a mat-button routerLink="login">Login</a>
            <a mat-button routerLink="sign-in">Sign In</a>
        </ng-container>
    </app-authorized>
        
</mat-toolbar>