<app-list-generic [list]="movies">
    <ng-container empty >
        <div>Custom message for <b>empty</b> content</div>
    </ng-container>
    <ng-container content>
        <div 
            *ngFor="let movie of movies; let index = index" 
            class="movie-container"
        >
            <div>
                Movie {{index}} {{movie.movieTitle}} 
                <button style="margin-left: 1rem" (click)="remove(index)" >Remover</button>
            </div>
            <div>
                {{movie.releaseDate | date: "dd-MMMM-yyyy" | uppercase}}
            </div>
            <div>
                {{movie.price | currency}}
            </div>
        </div>
    </ng-container>
</app-list-generic>
