<form (submit)="saveChanges()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput>
        <mat-error>The field Title is required</mat-error>
    </mat-form-field>

    <div class="container-checkbox">
        <mat-checkbox formControlName="inTheaters">In theaters</mat-checkbox>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Trailer</mat-label>
        <input formControlName="trailer" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Release Date</mat-label>
        <input formControlName="releaseDate" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <h4>Select Poster</h4>

    <app-input-img 
    [urlCurrentImage]="model?.poster"
    (selectedFile)="selectedFile($event)"></app-input-img>

    <h4>Movie Summary</h4>

    <app-input-markdown 
    [contentMarkdown]="model?.summary"
    (changeMarkdown)="changeMarkdown($event)"
    [placeHolderTextArea]="'Summary'"></app-input-markdown>

    <h4>Select Genres</h4>

    <app-multiple-selector 
    [Selected]="selectedGenres" 
    [NoSelected]="noSelectedGenres"></app-multiple-selector>

    <h4>Select Theaters</h4>

    <app-multiple-selector 
    [Selected]="selectedTheaters" 
    [NoSelected]="noSelectedTheaters"></app-multiple-selector>

    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Save Changes
        </button>
        <a mat-stroked-button routerLink="/">Cancel</a>
    </div>
</form>